<ion-view view-title="TaxiApp">
    <ion-content class="text-center">

        <div class="login-fields">

            <form ng-submit="submit()" name="loginForm" novalidate>

                <div class="item item-input-inset">
                    <input type="email" ng-model="user.email" name="email" placeholder="Email"/>
                </div>

                <div class="item item-input-inset">
                    <input type="password" ng-model="user.password" name="password" placeholder="Senha"/>
                </div>

                <br/>
                <a ui-sref="auth.reset">Esqueci minha senha</a>
                <br/>

                <br/>

                <div class="text-center">
                    <button type="submit" class="button button-stable" nav-clear>Entrar</button>
                </div>

            </form>
        </div>
    </ion-content>
</ion-view>