<ion-view view-title="Alterar senha">
    <ion-content>
        <div class="padding">
            <div class="padding">
                <p>Para alterar sua senha preencha os campos abaixo.</p>
            </div>

            <form ng-submit="resetForm.$valid && submit()" name="resetForm" novalidate>

                <div class="padding">

                    <div ng-class="{ 'field_with_errors' : errors.password || (resetForm.$submitted && !changeEmail.password.$valid) }" class="item item-input item-bigger">
                        <input required type="password" ng-model="user.password" name="password" placeholder="Nova senha"/>
                    </div>

                    <div ng-class="{ 'field_with_errors' : errors.passwordConfirmation || (resetForm.$submitted && !changeEmail.passwordConfirmation.$valid) }" class="item item-input item-bigger">
                        <input required type="password" ng-model="user.passwordConfirmation" name="passwordConfirmation" placeholder="Confirmar nova senha"/>
                    </div>

                </div>

                <br/>

                <div class="text-center">
                    <button type="submit" class="button button-stable" nav-clear>Salvar</button>
                </div>

                <br/>
                <br/>
            </form>
        </div>
    </ion-content>
</ion-view>